@page "/listado-alimentos"
@inject HttpClient Http
@using Componentes;



<PageTitle>Alimentos</PageTitle>

<h1>Alimentos</h1>

<p>Listado de alimentos en existencia.</p>


<Laboratorio12.Componentes.ListadoAlimentos></Laboratorio12.Componentes.ListadoAlimentos>
